<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>소개</h2>
		<hr>
		<%= image_tag 'Junee01.gif', alt: 'Junee', class: "img-circle" %>
		<br><br>
		<p><strong>이름</strong> : 박상준(Sangjun Park)</p>
		<p><strong>전공</strong> : 컴퓨터 공학(Computer Engineering)</p>
		<p><strong>깃허브</strong> : github.com/Junee01</p>
		<hr>
		<h2>보유 기술</h2>
		<ul>
			<li>C, C#, Java, Ruby, php, Python, Swift</li>
			<li>HTML/CSS, JS, jQuery</li>
			<li>Rails 4, Bootstrap, Metro, AngularJS</li>
			<li>MySQL, Linux</li>
			<li>Web Scraping, Degisn Pattern</li>
			<li>Git, Open Source</li>
		</ul>
	</div>
	<div class="col-2 homepage_content">
		<h2>오픈소스 활동</h2>
		<hr>

		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">	
		<h2>프로젝트 모음</h2>
		<hr>

		<% @projects.each do |project| %>
			<h3><a href="#"><%= link_to project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
</div>