<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>소개</h2>
		<hr>
		<%= image_tag 'junee0203.png', alt: 'Junee', class: "img-circle" %>
		<br><br>
		<p>이름 : <strong>박상준</strong></p>
		<p>생년월일 : 1991.02.03<strong>(26)</strong></p>
		<p>전공 : Computer Engineering</p>
		<hr>
		<h2>관심분야</h2>
		<ul>
			<li>Ruby, <strong>Rails</strong></li>
			<li><strong>Python</strong>, Django, mongoDB</li>
			<li>C, <strong>C#, Winform, Metro</strong></li>
			<li>Java, Spring</li>
			<li>Android, <strong>iOS</strong></li>
			<li><strong>HTML5, Javascript, jQuery, Bootstrap</strong></li>
			<li><strong>Ubuntu, Apache, Mysql</strong></li>
		</ul>
	</div>
	<div class="col-2 homepage_content">
		<h2>포스팅 자료 모음</h2>
		<hr>

		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">	
		<h2>프로젝트 자료 모음</h2>
		<hr>

		<% @projects.each do |project| %>
			<h3><a href="#"><%= link_to project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
</div>