<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>소개</h2>
		<hr>
		<%= image_tag 'Junee01.gif', alt: 'Junee', class: "img-circle" %>
		<br><br>
		<p><strong>이름</strong> : 박상준(Junee01)</p>
		<p><strong>전공</strong> : 컴퓨터 공학</p>
		<hr>
		<h2>보유 기술</h2>
		<ul>
			<li>C, Java, Ruby, Python 3.4, Swift</li>
			<li>HTML/CSS, JS, jQuery</li>
			<li>Rails, django, Bootstrap, Metro</li>
			<li>SQL, MySQL, SQlite, Linux</li>
			<li>Web Scraping, Degisn Pattern</li>
			<li>Git, Aws(EC2, Beanstalk, S3)</li>
		</ul>
	</div>
	<div class="col-2 homepage_content">
		<h2>오픈소스 활동</h2>
		<hr>

		<% @posts.each do |post| %>
			<%# 제목이 "Resume with Markdown"인 포스트는 목록에 보여주지 않는다. %>
			<% if post.title == "Resume with Markdown" || post.title == "이력서" %>
			<% next %>
			<% end %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">	
		<h2>프로젝트 모음</h2>
		<hr>

		<% @projects.each do |project| %>
			<h3><a href="#"><%= link_to project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
</div>