<h1 id="page_title">문의하기</h1>

<div class="skinny_wrapper wrapper_padding">
	<%= form_for @contact do |f| %>
		<%= f.label :name, "이름" %><br>
		<%= f.text_field :name, required: true, :placeholder => "이름을 입력해주세요. (예) Sangjun Park" %>

		<br>

		<%= f.label :email, "이메일" %><br>
		<%= f.email_field :email, required: true, :placeholder => "이메일을 입력해주세요. (예) junee01@gmail.com)" %>

		<br>

		<%= f.label :message, "내용" %><br>
		<%= f.text_area :message, as: :text, :placeholder => "내용을 입력해주세요. (예) 당신을 채용하고 싶습니다." %>

		<div class="hidden">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'leave this field blank' %>
		</div>

		<%= f.submit '이메일 전송하기', class: "button" %>
	<% end %>
</div>