<div id="post_show_content" class="skinny_wrapper wrapper_padding">
	<header>
		<p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
		<h2><%= @post.title %></h2>
		<hr>
	</header>

	<div id="content">

		<%# 포스팅에 관한 이미지 %>
		<%# 만약에 이미지가 없다면 넘어가고, 있다면 보여줍니다. %>
		<div class="content_image">
			<% if @post.image.file? %>
				<%= image_tag @post.image.url %>
				<hr>
			<% else %>
				<%# skip %>
			<% end %>
		</div>

		<%# content 내용을 markdown 을 이용하여 특수효과를 넣어 보여준다. %>
		<%= markdown @post.content %>

		<% if @post.title == "이력서" %>
			<div class="button_wrapper">
				<%= link_to "영문 이력서 보기", post_path("resume"), :class => "post_button" %>
			</div>
		<% elsif @post.title == "Resume with Markdown" %>
			<div class="button_wrapper">
				<%= link_to "한글 이력서 보기", post_path("95f3fb02-5d36-4e3d-a837-fa842696e184"), :class => "post_button" %>
			</div>
		<% end %>
	</div>

	<%# 로그인을 한 유저에게만 수정과 삭제의 권한이 주어진다. %>
	<% if user_signed_in? %>
		<div id="admin_links">
			<%= link_to "포스팅 추가", new_post_path %>
			<%= link_to "수정하기", edit_post_path(@post) %>
			<%= link_to "삭제하기", post_path(@post), method: :delete, data: { confirm: "정말로 삭제하시겠습니까?" } %>
		</div>
	<% end %>

	<hr>

	<%# 이력서 부분은 Disqus가 아닌 시지온의 라이브리를 적용해본다. %>
	<% if @post.title != "Resume with Markdown" %>
		<div id="share_box">
			<p>공유하기</p>
			<!-- Twitter 으로 공유하기 -->
			<a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @sangjunpark - &amp;url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>
			<!-- Facebook 으로 공유하기 -->
		    <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>
		</div>

		<hr>

		<%= render 'disqus' %>
	<% else %>
		<!-- 라이브리 시티 설치 코드 -->
		<div id="lv-container" data-id="city" data-uid="MTAyMC8yNjY5OS8zMjg5">
			<script type="text/javascript">
		   (function(d, s) {
		       var j, e = d.getElementsByTagName(s)[0];

		       if (typeof LivereTower === 'function') { return; }

		       j = d.createElement(s);
		       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
		       j.async = true;

		       e.parentNode.insertBefore(j, e);
		   })(document, 'script');
			</script>
		<noscript> 라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
		</div>
		<!-- 시티 설치 코드 끝 -->
	<% end %>

</div>